<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Inventario</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mt-5">Inventario</h1>
            <a href="/" class="btn btn-outline-light">HOME</a>
        </div>
        
        <a href="{% url 'procesar_excel' %}" class="btn btn-primary mt-3">Cargar archivo Excel</a>
        <a href="{% url 'agregar_item_inventario' %}" class="btn btn-primary mt-3">Cargar nuevo item</a>
        
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3" name="eliminar_todo" onclick="return confirm('¿Estás seguro de que deseas eliminar todos los archivos?');">Eliminar todos los archivos</button>
        </form>
        <div class="table-responsive mt-4">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Núm. Artículo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Cód. Barras</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Fabricante</th>
                        <th scope="col">Unidad de Medida</th>
                        <th scope="col">Última Reval.</th>
                        <th scope="col">Último Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inventario %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.num_articulo }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.en_stock }}</td>
                        <td>{{ item.codigo_barras }}</td>
                        <td>{{ item.grupo_articulos }}</td>
                        <td>{{ item.fabricante }}</td>
                        <td>{{ item.unidad_medida }}</td>
                        <td>
                            {% if item.ultima_revalorizacion %}
                                {{ item.ultima_revalorizacion }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if item.ultimo_precio_compra %}
                                {{ item.ultimo_precio_compra }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
