{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Crear Proceso{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<!-- Otros estilos que necesites -->
{% endblock %}

{% block content %}
<div class="container">
    <h1>Crear Proceso</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.nombre|crispy }}
        <table id="tablaSubprocesos" class="display">
            <thead>
                <tr>
                    <th>Subprocesos</th>
                </tr>
            </thead>
            <tbody>
                {% for subproceso in form.subprocesos %}
                <tr>
                    <td>
                        {{ subproceso }}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#tablaSubprocesos').DataTable();
    });
</script>
{% endblock %}
