<!-- crear_item_ordenventa.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Ítems de Orden sdsdsdde Venta para {{ ordenventa }}</title>
</head>
<body>
    <h1>Crear Ítems de Orden dlje Venta para {{ ordenventa }}</h1>

    <!-- Formulario de creación masiva -->
    <form method="post" action="">
        {% csrf_token %}
        
        <!-- Ajustar la estructura del formulario para entrada masiva -->
        {{ form.items_data.label_tag }}
        {{ form.items_data }}
        
        <button type="submit">Guardar</button>
    </form>

    <h1>Crear Ítems de Orden de Venta para {{ ordenventa }}</h1>

    <!-- Formulario de creación masiva -->
    <form method="post" action="{% url 'crear-mass-item-ordenventa' ordenventa.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Ajustar la estructura del formulario para entrada masiva -->
        {{ form.items_data.label_tag }}
        {{ form.items_data }}

        <br>
        <!-- Agregar el campo para cargar un archivo -->
        {{ form.items_file.label_tag }}
        {{ form.items_file }}
        
        <button type="submit">Guardar</button>
    </form>
</body>
</html>