{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Items de la Orden de Venta {{ ordenventa }}</h2>
    <!-- Botón alineado al lado del título -->
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'ver_ordenes_compra' ordenventa.id %}'">Hagamos pedidos! :)</button>
</div>

<!-- Contenedor para la tabla de items que será actualizada por HTMX -->
<div id="items-container">
    <!-- Aquí se incluiría el contenido de "fragmentos/items_orden_venta.html" si es necesario -->
    <!-- Ejemplo de tabla con items de orden de venta, ajustar según sea necesario -->
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Codigo de Artículo</th>
                <th>Descripción del Artículo</th>
                <th>Cantidad</th>
                <th>Precio Bruto</th>
                <th>Total Bruto</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr class="{% if not item.enviado %}table-success{% endif %}">
                <td>{{ item.nro_articulo }}</td>
                <td>{{ item.desc_articulo }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.precio_bruto | floatformat:2 }}</td>
                <td>{{ item.total_bruto | floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay items en esta orden de venta.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

