<!DOCTYPE html>
<html>
<head>
    <title>Lista de Órdenes de Compra</title>
</head>
<body>
    <h1>Lista de Órdenes de Compra</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>IGV</th>
                <th>Detracción</th>
                <th>Precio Total</th>
                <th>Tipo de Pago</th>
                <th>Clase</th>
                <th>Banco</th>
                <th>Número Bancario</th>
                <th>Cuotas</th>
            </tr>
        </thead>
        {% for field in form %}
            <td>{{ field }}</td>
        {% endfor %}
        <tbody>
            {% for orden in ordenes_compra %}
                <tr>
                    <td>{{ orden.descripcion }}</td>
                    <td>{{ orden.precio }}</td>
                    <td>{{ orden.cantidad }}</td>
                    <td>{{ orden.igv }}</td>
                    <td>{{ orden.detraccion }}</td>
                    <td>{{ orden.precio_total }}</td>
                    <td>{{ orden.tipo_pago }}</td>
                    <td>{{ orden.clase }}</td>
                    <td>{{ orden.banco }}</td>
                    <td>{{ orden.numero_bancario }}</td>
                    <td>{{ orden.cuotas }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form>
        {{ form }}
    </form>
    <!-- Agregar botón para ir a la página de creación de órdenes de compra -->
    <a href="{% url 'crear_orden_compra' %}"><button>Crear Nueva Orden de Compra</button></a>
</body>
</html>
