<!-- ordenpago.html -->
{% extends 'base.html' %}
{% block content %}
<h1>Hello World</h1>
<form method="post" action="{% url 'ordenpago' %}">
    {% csrf_token %}
    <table>
        <tr>    
            <th>numero_operacion</th>
            <!-- Other table headers -->
            <th>Acciones</th>
        </tr>
        {% for ordenpago in ordenespago %}
            <tr>
                {% if form.instance.id == ordenpago.id %}
                    {% include 'save.html' %}
                {% else %}
                    <!-- Render table data for ordenpago -->
                {% endif %}
            </tr>
        {% endfor %}
        {% if not form.instance.id %}
            <tr>
                {% include 'save.html' %}
            </tr>
        {% endif %}
    </table>
</form>
{% endblock %}
