{% extends 'base.html' %}

{% load l10n %}

{% block title %}Lista de Tarjetas{% endblock %}

{% block content %}
<div class="content-container">
    {% for tarjeta in tarjetas %}
    <form method="post" action="" class="sortable" hx-post="/items" hx-trigger="end">
        {% csrf_token %}
        <div class="htmx-indicator">Updating...</div>
        {% for item in tarjeta.tareas_con_hora %}
        <div class="task-item">
            <input type='hidden' name='item' value='{{ item.id }}'/>{{ item.tarea.verbo }} - {{ item.tarea.objeto }}
            <span>
                <a href="{% url 'cambiar_orden' tarjeta.id item.tarea.id item.tarea.neworden_set.first.order|add:'-1' %}" class="btn-order">⬆️</a>
                <a href="{% url 'cambiar_orden' tarjeta.id item.tarea.id item.tarea.neworden_set.first.order|add:'1' %}" class="btn-order">⬇️</a>
            </span>
        </div>
        {% endfor %}
        <button type="submit">Guardar Cambios</button>
    </form>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var sortables = document.querySelectorAll(".sortable");
    sortables.forEach(function (sortable) {
        new Sortable(sortable, {
            animation: 150,
            ghostClass: 'blue-background-class',
            filter: ".htmx-indicator",
            onMove: function (evt) {
                return evt.related.className.indexOf('htmx-indicator') === -1;
            },
            onEnd: function (evt) {
                htmx.trigger(sortable, "end");
            }
        });
    });
});
</script>
{% endblock %}
