{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block title %}{% if object %}Editar{% else %}Añadir{% endif %} Proyecto{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>{% if object %}Editar{% else %}Añadir{% endif %} Proyecto</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary mt-3">{% if object %}Actualizar{% else %}Crear{% endif %}</button>
      <a href="{% url 'project_list' %}" class="btn btn-secondary mt-3">Volver a la lista</a>
    </form>
  </div>
{% endblock %}
