{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="header-flex">
        <h2>Cronograma de Órdenes de Compra</h2>
        <div>Fecha: {{ ahora|date:"d/m/Y H:i" }}</div>
    </div>
  
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th scope="col">Descripción del Artículo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Código SAP</th>
          <th scope="col">Precio Total</th>
          <th scope="col">Fecha de Pago</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for orden in ordenes_compra %}
        <tr class="{{ orden.estado_clase }}">
          <td>{{ orden.desc_articulo }}</td>
          <td>{{ orden.cantidad }}</td>
          <td>{{ orden.codigo_sap }}</td>
          <td>{{ orden.precio_total|floatformat:2 }}</td>
          <td>{{ orden.fecha_pago|date:"d/m/Y" }}</td>
          <td>
            <!-- Asume que tienes una vista para manejar la acción específica por orden -->
            <a href="" class="btn btn-primary">Ver Detalles</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
