{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Órdenes de Pago</h1>
    
    <form action="{% url 'filtrar_ordenes_pago_por_fecha' %}" method="get" class="mb-4">
        <div class="form-group mb-3">
            <label for="fecha_pago" class="form-label">Fecha de Pago:</label>
            <input type="date" id="fecha_pago" name="fecha_pago" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-secondary">Ver Órdenes de Pago por Fecha</button>
    </form>
    <button onclick="exportarTablaExcel()" class="btn btn-success">Descargar Excel</button>
</div>
<table id="ordenesPagoTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Orden de Venta</th>
            <th>Proyecto</th>
            <th>Proveedor</th>
            <th>Descripción</th>
            <th>Banco</th>
            <th>Nro. Cuenta</th>
            <th>Interbancario</th>
            <th>Moneda</th>
            <th>MONTO T.</th>
        </tr>
    </thead>
    <tbody>
        {% for orden in ordenes_de_pago %}
        <tr>
            <td>{{ orden.item_orden_venta.ordenventa.codigosap }}</td>
            <td>{{ orden.item_orden_venta.ordenventa.proyecto }}</td>
            <td>{{ orden.proveedor.nombre_proveedor|default:"No asignado" }}</td>
            <td>{{ orden.desc_articulo }}</td>
            <td>{{ orden.proveedor.nombre_banco|default:"N/A" }}</td>
            <td>{{ orden.proveedor.nro_cuenta|default:"N/A" }}</td>
            <td>{{ orden.proveedor.nro_cuenta_interbancario|default:"N/A" }}</td>
            <td>
                {% if orden.proveedor.moneda == 0 %}
                    Soles
                {% elif orden.proveedor.moneda == 1 %}
                    Dólares
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{{ orden.precio_total }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No hay órdenes de pago disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script>
    function exportarTablaExcel(){
        var wb = XLSX.utils.table_to_book(document.getElementById('ordenesPagoTable'), {sheet:"Ordenes de Pago"});
        XLSX.writeFile(wb, "OrdenesDePago.xlsx");
    }
</script>

<script>
$(document).ready(function() {
    $('#ordenesPagoTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json"
        }
    });
});
</script>
{% endblock %}
