{% extends 'base.html' %}

{% block title %}Reportes y registros{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card-group">

        <!-- Ejemplo de tarjeta para Reportes con icono -->
        <div class="card text-center">
            <div class="card-body">
                <i class="fas fa-chart-line fa-3x"></i> <!-- Icono de FontAwesome -->
                <h5 class="card-title">Reportes</h5>
                <p class="card-text">Accede a los reportes financieros y de gestión más recientes para tomar decisiones informadas.</p>
                <p class="card-text"><small class="text-muted">Actualizado hace 5 minutos</small></p>
                <a href="{% url 'reportas-venta-lista' %}" class="btn btn-primary">Ver Reportes</a>
            </div>
        </div>

        <!-- Ejemplo con otro icono para Extractos Bancarios -->
        <div class="card text-center">
            <div class="card-body">
                <i class="fas fa-university fa-3x"></i> <!-- Icono de FontAwesome -->
                <h5 class="card-title">Extractos Bancarios</h5>
                <p class="card-text">Consulta tus extractos bancarios para un control detallado de las transacciones.</p>
                <p class="card-text"><small class="text-muted">Actualizado hace 10 minutos</small></p>
                <a href="{%  url 'cargar_extractos' %}" class="btn btn-secondary">Ver Extractos</a>
            </div>
        </div>

        <!-- Tarjeta para Bancos con icono -->
        <div class="card text-center">
            <div class="card-body">
                <i class="fas fa-chart-line fa-3x"></i> <!-- Icono de FontAwesome -->
                <h5 class="card-title">Bancos</h5>
                <p class="card-text">Bancos para hacer cosas de banqueros supongo</p>
                <p class="card-text"><small class="text-muted">Actualizado hace 5 minutos</small></p>
                <a href="{% url 'banco_list' %}" class="btn btn-primary">Ver Reportes</a>
            </div>
        </div>

        <!-- Tarjeta para Proveedores con icono -->
        <div class="card text-center">
            <div class="card-body">
                <i class="fas fa-handshake fa-3x"></i> <!-- Icono de FontAwesome -->
                <h5 class="card-title">Proveedores</h5>
                <p class="card-text">Accede al listado de proveedores y gestiona tus relaciones comerciales.</p>
                <p class="card-text"><small class="text-muted">Actualizado ayer</small></p>
                <a href="{% url 'proveedor_list' %}" class="btn btn-info">Ver Proveedores</a>
            </div>
        </div>

        <!-- Tarjeta para Algo más con icono -->
        <div class="card text-center">
            <div class="card-body">
                <i class="fas fa-asterisk fa-3x"></i> <!-- Icono de FontAwesome -->
                <h5 class="card-title">Algo más</h5>
                <p class="card-text">Explora otras funcionalidades y herramientas disponibles para tu negocio.</p>
                <p class="card-text"><small class="text-muted">Actualizado la semana pasada</small></p>
                <form action="#" method="post">
                    {% csrf_token %}
                    <button type="submit" formaction="#" class="btn btn-warning">Explorar</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
