{% extends "base_budget.html" %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Eliminar Presupuesto</h2>
    <p>¿Estás seguro de que deseas eliminar el presupuesto "{{ object.project.project_name }}"?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirmar</button>
      <a href="{% url 'budget-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}
